* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background: linear-gradient(0deg, rgba(7, 12, 13, 0.650298) 0%, #01000d 41%, #474747 56%, #010214 62%); }

footer {
  background-color: #000;
  color: #fff; }
