nav{
    background: linear-gradient(0deg, rgba(7,12,13,0.6502976190476191) 0%, rgba(1,0,13,1) 41%, rgba(71,71,71,1) 56%, rgba(1,2,20,1) 62%);
    .navbar-brand{
        color: #fff;
    }
    .nav-link{
        color: #fff;
    }
    .nav-link:hover{
        color: #6495ed;
    }
    .navber-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}